In [1]:
import numpy as np
import pandas as pd
import time
from nba_api.stats.static import players
from nba_api.stats.endpoints import draftcombinestats, playercareerstats

In [2]:
all_players = players.get_players()

# We only want ACTIVE players
# active_players = [p for p in all_players if p["is_active"] == True]
active_players = all_players
ids = [p["id"] for p in active_players]

len(active_players)

4501

In [3]:
active_players_df = pd.DataFrame(active_players)
active_players_df[active_players_df.first_name == "Russell"]

          id          full_name first_name  last_name  is_active
846    76478      Russell Cross    Russell      Cross      False
2355   77365        Russell Lee    Russell        Lee      False
4247  201566  Russell Westbrook    Russell  Westbrook       True

In [4]:
time.sleep(1)

In [5]:
# Get the combine data of all active players

endpoint = draftcombinestats.DraftCombineStats(league_id = "00", season_all_time="All Time")
combine_stats = endpoint.get_data_frames()[0]
combine_stats.to_csv("./combine_stats")
combine_stats

,SEASON,PLAYER_ID,FIRST_NAME,LAST_NAME,PLAYER_NAME,POSITION,HEIGHT_WO_SHOES,HEIGHT_WO_SHOES_FT_IN,HEIGHT_W_SHOES,HEIGHT_W_SHOES_FT_IN,...,STANDING_REACH_FT_IN,BODY_FAT_PCT,HAND_LENGTH,HAND_WIDTH,STANDING_VERTICAL_LEAP,MAX_VERTICAL_LEAP,LANE_AGILITY_TIME,MODIFIED_LANE_AGILITY_TIME,THREE_QUARTER_SPRINT,BENCH_PRESS
0,2002,2403,Nene,,Nene,PF,81.25,6' 9.25'',NaN,None,...,9' 1'',NaN,NaN,NaN,30.0,34.0,10.73,NaN,3.19,16.0
1,2007,12204,Mohamed,Abukar,Mohamed Abukar,SF,80.00,6' 8'',81.75,6' 9.75'',...,8' 7'',8.90,NaN,NaN,30.5,35.0,11.78,NaN,3.37,15.0
2,2020,1630173,Precious,Achiuwa,Precious Achiuwa,PF,79.50,6'7.50'',80.70,6'8.75'',...,9'0.50'',6.70,9.0,10.00,NaN,NaN,NaN,NaN,NaN,NaN
3,2005,101165,Alex,Acker,Alex Acker,SG,75.75,6' 3.75'',76.75,6' 4.75'',...,8' 6.5'',NaN,NaN,NaN,28.0,32.0,11.67,NaN,3.35,11.0
4,2012,203112,Quincy,Acy,Quincy Acy,PF,78.50,6' 6.5'',79.75,6' 7.75'',...,8' 10.5'',7.10,9.5,11.00,32.0,37.0,10.48,NaN,3.28,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1390,2017,1962937123,Omer,Yurtseven,Omer Yurtseven,C,82.50,6' 10.5'',83.75,6' 11.75'',...,9' 0.5'',7.60,9.0,10.50,26.0,31.5,12.85,3.30,3.45,6.0
1391,2012,203092,Tyler,Zeller,Tyler Zeller,PF-C,83.25,6' 11.25'',84.50,7' 0.5'',...,8' 8.5'',6.40,9.0,9.75,30.0,34.0,11.13,NaN,3.40,16.0
1392,2013,203469,Cody,Zeller,Cody Zeller,C-PF,82.75,6' 10.75'',84.25,7' 0.25'',...,8' 10'',4.75,8.5,10.50,35.5,37.5,10.82,2.69,3.15,17.0
1393,2003,2583,Derrick,Zimmerman,Derrick Zimmerman,PG,73.00,6' 1'',NaN,None,...,8' .25'',5.30,NaN,NaN,34.0,40.5,11.09,NaN,3.10,13.0
1394,2016,1627757,Stephen,Zimmerman,Stephen Zimmerman,C,82.25,6' 10.25'',83.75,6' 11.75'',...,9' 0.5'',11.15,9.0,9.00,26.0,31.0,12.08,3.16,3.43,NaN

In [6]:
combine_stats[combine_stats.FIRST_NAME == "Russell"]

,SEASON,PLAYER_ID,FIRST_NAME,LAST_NAME,PLAYER_NAME,POSITION,HEIGHT_WO_SHOES,HEIGHT_WO_SHOES_FT_IN,HEIGHT_W_SHOES,HEIGHT_W_SHOES_FT_IN,...,STANDING_REACH_FT_IN,BODY_FAT_PCT,HAND_LENGTH,HAND_WIDTH,STANDING_VERTICAL_LEAP,MAX_VERTICAL_LEAP,LANE_AGILITY_TIME,MODIFIED_LANE_AGILITY_TIME,THREE_QUARTER_SPRINT,BENCH_PRESS
214,2007,201469,Russell,Carter,Russell Carter,SG,75.00,6' 3'',76.5,6' 4.5'',...,8' 1.5'',6.0,NaN,NaN,33.0,38.5,11.61,NaN,3.29,25.0
1080,2008,201781,Russell,Robinson,Russell Robinson,PG,72.50,6' 0.5'',73.5,6' 1.5'',...,8' 4.5'',7.4,NaN,NaN,25.0,31.5,11.30,NaN,3.15,8.0
1314,2008,201566,Russell,Westbrook,Russell Westbrook,PG,74.25,6' 2.25'',75.5,6' 3.5'',...,8' 4'',4.8,NaN,NaN,30.0,36.5,10.98,NaN,3.08,12.0

In [7]:
indices = combine_stats.PLAYER_ID.isin(ids)
combine_stats = combine_stats[indices]
combine_stats = pd.DataFrame(combine_stats, columns=['PLAYER_ID', 'PLAYER_NAME', 'FIRST_NAME', 'LAST_NAME', 'HEIGHT_WO_SHOES', 'WEIGHT', 'WINGSPAN',
       'MAX_VERTICAL_LEAP', 'POSITION'])

# Remove rows with missing data
combine_stats = combine_stats.dropna()
combine_stats.PLAYER_ID = combine_stats.PLAYER_ID.astype("int")
combine_stats.to_csv("./combine_stats")
len(combine_stats)

782

In [8]:
ids = list(combine_stats.PLAYER_ID)
data = []

for idx in ids:
    time.sleep(1) 
    endpoint = playercareerstats.PlayerCareerStats(player_id = idx, per_mode36 = "Per36")
    career_stats = endpoint.career_totals_regular_season.get_data_frame()
    try:
        if int(career_stats["GP"]) >= 82:
            data.append({
                "PLAYER_ID": career_stats["PLAYER_ID"],
                "PTS": float(career_stats["PTS"]),
                "GP": int(career_stats["GP"]),
                "BLK": float(career_stats["BLK"]),
                "REB": float(career_stats["REB"]),
                "FT_PCT": float(career_stats["FT_PCT"]), 
            })
    except: 
        print(career_stats)

Empty DataFrame
Columns: [PLAYER_ID, LEAGUE_ID, Team_ID, GP, GS, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS]
Index: []

[0 rows x 24 columns]
Empty DataFrame
Columns: [PLAYER_ID, LEAGUE_ID, Team_ID, GP, GS, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS]
Index: []

[0 rows x 24 columns]
Empty DataFrame
Columns: [PLAYER_ID, LEAGUE_ID, Team_ID, GP, GS, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TOV, PF, PTS]
Index: []

[0 rows x 24 columns]

In [9]:
points_data = pd.DataFrame(data)
points_data.to_csv("./points_data")
len(points_data)

520

In [10]:
combine_stats.PLAYER_ID = combine_stats.PLAYER_ID.astype("int")
points_data.PLAYER_ID = points_data.PLAYER_ID.astype("int")
all_data = points_data.merge(combine_stats, how="inner", on="PLAYER_ID")
# all_data = all_data.dropna()
all_data.to_csv("./all_data")

all_data

,PLAYER_ID,PTS,GP,BLK,REB,FT_PCT,PLAYER_NAME,FIRST_NAME,LAST_NAME,HEIGHT_WO_SHOES,WEIGHT,WINGSPAN,MAX_VERTICAL_LEAP,POSITION
0,2403,15.6,965,0.0,8.3,0.660,Nene,Nene,,81.25,253,88.50,34.0,PF
1,203112,11.0,337,0.0,7.9,0.759,Quincy Acy,Quincy,Acy,78.50,223.8,86.75,37.0,PF
2,203500,12.8,588,0.0,10.3,0.548,Steven Adams,Steven,Adams,82.75,254.5,88.50,33.0,C
3,1628389,16.3,287,0.0,10.5,0.738,Edrice Adebayo,Edrice,Adebayo,80.75,242.6,86.75,38.5,PF-C
4,202399,11.9,153,0.0,11.0,0.628,Jeff Adrien,Jeff,Adrien,77.25,236.2,86.00,31.5,PF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
527,201156,18.0,720,0.0,3.1,0.836,Nick Young,Nick,Young,77.00,206,84.00,40.5,SG-SF
528,201970,13.0,249,0.0,5.2,0.742,Sam Young,Sam,Young,77.25,222.8,82.75,33.0,SF-SG
529,203923,9.7,95,0.0,4.3,0.563,James Young,James,Young,77.25,213.3,84.00,35.5,SG
530,203092,14.3,414,0.0,9.0,0.764,Tyler Zeller,Tyler,Zeller,83.25,247.4,84.00,34.0,PF-C
531,203469,13.8,467,0.0,9.6,0.729,Cody Zeller,Cody,Zeller,82.75,230,82.75,37.5,C-PF